<?xml version="1.0" encoding="utf-8" ?>
<configuration>

  <configSections>
    <section name="log4net" type="log4net.Config.Log4NetConfigurationSectionHandler, log4net"/>
  </configSections>

  <appSettings>
    <add key="CompareFolderPath" value="D:\Backups\MyDev\eBook\eBooks"/>
    <add key="ImportFolderPath" value="D:\Backups\MyDev\eBook\eBooks"/>
    <add key="SqlConnectionString" value="Server=localhost; Database=ebook; Trusted_Connection=SSPI"/>
    <add key="SqliteFilepath" value="C:\Tree\ebook\sql\dev.db"/>
    <add key="IncludeEpub" value="true"/>
    <add key="IncludeMobi" value="true"/>
  </appSettings>
  
    <!-- This section contains the log4net configuration settings -->
  <!-- NB when storing in database we can get away with just this part of the file (log4net as the root) -->
  <!-- For more details on what can go into conversionPattern, see here:
	   http://logging.apache.org/log4net/release/sdk/log4net.Layout.PatternLayout.html -->
  <log4net>
    <!-- Define some output appenders -->
    <appender name="RollingLogFileAppender" type="log4net.Appender.RollingFileAppender">
      <file value="rolling-log.txt"/>
      <appendToFile value="true"/>
      <maxSizeRollBackups value="10"/>
      <maximumFileSize value="10MB"/>
      <rollingStyle value="Size"/>
      <staticLogFileName value="true"/>
      <layout type="log4net.Layout.PatternLayout">
        <header value="[Started]
"/>
        <footer value="[Ended]
"/>
        <!-- <conversionPattern value="%date %message // [%thread] %-5level %logger [%ndc]%newline" /> -->
        <conversionPattern value="%date %message%newline"/>
      </layout>
    </appender>

    <!-- Overview
			  
              Each logger has a name. 
			  When trace methods are called with a 'category', the trace message is output
              to the logger that has the same name as the category.
			  
			  All logger names should be contained in BLL.TraceCategory (just so we can find them all).
			  
			  Each logger can have a level. If one is not defined the logger assummes the level of the root.
					   
			  Each logger can have a number of appender-refs, that should match appenders defined above.
					   
			  level can have the values:
			  ERROR - shows only errors
			  INFO  - shows errors and Info messages
              DEBUG - includes everything
			  
			  Each logger has an 'additivity' parameter.
			  Value may be either true or false. The default value is true. 
			  Set this attribute to false to prevent this logger from inheriting the appenders defined on the root.
			  
			  For more details see http://logging.apache.org/log4net/release/manual/configuration.html

			  -->

    <!-- Setup the root category, add the appenders and set the default level -->
    <root>
      <!-- these are the basic loggers that always get traced to -->
      <level value="INFO"/>
      <appender-ref ref="RollingLogFileAppender"/>
    </root>
    <!-- Specify the level for some specific categories -->
    <logger name="root" additivity="false">
      <level value="DEBUG"/>
      <appender-ref ref="RollingLogFileAppender"/>
    </logger>
  </log4net>

  <startup> 
        <supportedRuntime version="v4.0" sku=".NETFramework,Version=v4.5" />
    </startup>
</configuration>